Neither RPL_NOTOPIC or RPL_TOPIC after joining a channel

Session log:

```
1450662938.392 1: connects to server.
1450662938.392 1 -> S: NICK foo
1450662938.392 1 -> S: USER username * * :Realname
1450662938.393 S -> 1: :MyLittleServer NOTICE foo :*** Looking up your hostname...
1450662938.394 S -> 1: :MyLittleServer NOTICE foo :*** Checking Ident
1450662938.395 S -> 1: :MyLittleServer NOTICE foo :*** Found your hostname: localhost
1450662938.395 S -> 1: :MyLittleServer NOTICE foo :*** No Ident response
1450662938.396 S -> 1: :MyLittleServer 001 foo :Welcome to the MyLittleNetwork IRC Network, foo!~username@localhost
1450662938.396 1 -> S: PING foo
1450662938.396 S -> 1: :MyLittleServer 002 foo :Your host is MyLittleServer, running version mammon-0
1450662938.396 S -> 1: :MyLittleServer 003 foo :This server was started at Mon Dec 21 2015 at 02:55:38 CET
1450662938.435 S -> 1: :MyLittleServer 004 foo MyLittleServer mammon-0 wiZo
1450662938.435 S -> 1: :MyLittleServer 005 foo CHANTYPES=# REGCOMMANDS=CREATE,VERIFY NICKLEN= USERLEN= LINELEN= CHANNELLEN= SAFELIST METADATA MONITOR=20 NETWORK=MyLittleNetwork REGCALLBACKS= TOPICLEN= REGCREDTYPES=passphrase CASEMAPPING=rfc3454 :are supported by this server
1450662938.435 S -> 1: :MyLittleServer 375 foo :- MyLittleServer Message of the Day -
1450662938.435 S -> 1: :MyLittleServer 372 foo :- Hi
1450662938.435 S -> 1: :MyLittleServer 376 foo :End of /MOTD command.
1450662938.435 S -> 1: :MyLittleServer PONG foo
1450662938.436 1 -> S: JOIN #chan
1450662938.476 S -> 1: :foo!~username@localhost JOIN #chan
1450662938.515 S -> 1: :MyLittleServer 353 foo = #chan foo
1450662938.515 S -> 1: :MyLittleServer 366 foo #chan :End of /NAMES list.
```

Expected result: get an extra `RPL_NOTOPIC` or `RPL_TOPIC`, as defined by RFC 1149 [section 4.2.1](https://tools.ietf.org/html/rfc1459#section-4.2.1): “If a JOIN is successful, the user is then sent the channel's topic (using RPL_TOPIC) and […]”, as well as RFC 2812 [section 3.2.1](https://tools.ietf.org/html/rfc2812#section-3.2.1)

Version: ac861f854ccee2515c191068cc2274e5d1a92fa8 (Git master at the time I am writing this)

Configuration:

```
clients:
  # ping_frequency - client ping frequency
  ping_frequency:
    minutes: 1000

  # ping_timeout - ping timeout length
  ping_timeout:
    seconds: 10
data:
  format: json
  filename: /tmp/tmp0r2_cj0i/data.json
  save_frequency:
    minutes: 5
extensions:
- mammon.ext.rfc1459.42
- mammon.ext.rfc1459.ident
- mammon.ext.ircv3.account_notify
- mammon.ext.ircv3.server_time
- mammon.ext.ircv3.echo_message
- mammon.ext.ircv3.register
- mammon.ext.ircv3.sasl
- mammon.ext.misc.nopost
metadata:
  restricted_keys: 
monitor:
  limit: 20
motd:
  - "Hi"
limits:
  foo: bar
listeners:
- {"host": "0.0.0.0", "port": 42022, "ssl": false}
logs:
  {
  }
register:
  enabled_callbacks:
  - none
  verify_timeout:
    days: 1
roles:
  "placeholder":
    title: "Just a placeholder"
server:
  name: MyLittleServer
  network: MyLittleNetwork
  recvq_len: 20
```

Our current behaviour matches Charyb and from some quick tests seems to match most other (at least irc2-based) IRCds.

Charyb:
```
local <-  JOIN #test
local  -> :girc!~user@localhost JOIN #test * :My Real Name
local <-  :girc MODE #test
local  -> :chary.dnt MODE #test +nt
local  -> :chary.dnt 353 girc = #test :@girc!~user@localhost
local  -> :chary.dnt 366 girc #test :End of /NAMES list.
local  -> :chary.dnt 324 girc #test +nt
local  -> :chary.dnt 329 girc #test 1450663246
```

However, I would be fine with sending an `RPL_NOTOPIC` to be more explicit, even though the RFCs don't allow that.

In RFC 2812, it is less explicitely forbidden to use `RPL_NOTOPIC` instead: “When sending a TOPIC message to determine the channel topic, one of two replies is sent.  If the topic is set, RPL_TOPIC is sent back else RPL_NOTOPIC.”