Should reply with `ERROR` and not `QUIT` to a `QUIT`

Log:

```
1: connects to server.
1 -> S: NICK foo
1 -> S: USER username * * :Realname
S -> 1: :MyLittleServer NOTICE foo :*** Looking up your hostname...
S -> 1: :MyLittleServer NOTICE foo :*** Checking Ident
S -> 1: :MyLittleServer NOTICE foo :*** Found your hostname: localhost
S -> 1: :MyLittleServer NOTICE foo :*** No Ident response
S -> 1: :MyLittleServer 001 foo :Welcome to the MyLittleNetwork IRC Network, foo!~username@localhost
1 -> S: PING foo
S -> 1: :MyLittleServer 002 foo :Your host is MyLittleServer, running version mammon-0
S -> 1: :MyLittleServer 003 foo :This server was started at Sun Dec 20 2015 at 23:49:58 CET
S -> 1: :MyLittleServer 004 foo MyLittleServer mammon-0 Zwoi
S -> 1: :MyLittleServer 005 foo REGCOMMANDS=CREATE,VERIFY MONITOR=20 SAFELIST CASEMAPPING=rfc3454 CHANTYPES=# NETWORK=MyLittleNetwork USERLEN= NICKLEN= CHANNELLEN= REGCALLBACKS= TOPICLEN= LINELEN= REGCREDTYPES=passphrase METADATA :are supported by this server
S -> 1: :MyLittleServer 375 foo :- MyLittleServer Message of the Day -
S -> 1: :MyLittleServer 372 foo :- Hi
S -> 1: :MyLittleServer 376 foo :End of /MOTD command.
S -> 1: :MyLittleServer PONG foo
1 -> S: QUIT
S -> 1: :foo!~username@localhost QUIT :Quit:
```

Expected behavior: “The server acknowledges […] by sending an ERROR message to the client” instead of `QUIT`.
[section 3.1.7 of RFC 2812](https://tools.ietf.org/html/rfc2812#section-3.1.7)

Servers seem a little fragmented on what to do here.  We'll probably copy Charyb and dump a `QUIT` (like we already do) then an `ERROR`, as this will also play with the kline/dline stuff I'm working on.

Looks good to me

Alrighty, I'll merge it in with the kline stuff, and close this issue once it's in master.